## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,7,Puerto Ayora,EC,75.16,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
1,11,Kota Kinabalu,MY,75.18,few clouds,5.9749,116.0724,Gaya Centre Hotel
2,30,Isangel,VU,75.31,scattered clouds,-19.5500,169.2667,Tanna Lodge
3,55,Ponta do Sol,PT,77.00,clear sky,32.6667,-17.1000,Hotel do Campo
4,56,Malanje,AO,76.15,overcast clouds,-9.5402,16.3410,Hotel Ginga

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Grants']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Grants']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Show Low']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Camalú'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'San Quintín']

In [8]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
107,643,Grants,US,77.23,broken clouds,35.1473,-107.8514,"Motel 6 Grants, NM"

In [12]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

# XXX: README: I missed the .to_numpy instruction, and the below code works, so I'm not changing it.
# The below code can be replicated with the .to_numpy function like this:
# (Lat, Lng)  = (vacation_stop.to_numpy()[5], vacation_stop.to_numpy()[6])
# Or similar code (the above isn't exceptionally efficient)

start = (vacation_start['Lat'].values[0], vacation_start['Lng'].values[0])
end = (vacation_end['Lat'].values[0], vacation_end['Lng'].values[0])
stop1 = (vacation_stop1['Lat'].values[0], vacation_stop1['Lng'].values[0])
stop2 = (vacation_stop2['Lat'].values[0], vacation_stop2['Lng'].values[0])
stop3 = (vacation_stop3['Lat'].values[0], vacation_stop3['Lng'].values[0])

In [14]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
directions = gmaps.directions_layer(start, end, [stop1, stop2, stop3], travel_mode='DRIVING')

In [16]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,643,Grants,US,77.23,broken clouds,35.1473,-107.8514,"Motel 6 Grants, NM"
1,309,Show Low,US,75.49,broken clouds,34.2542,-110.0298,Hampton Inn & Suites Show Low-Pinetop
2,367,Camalú,MX,77.36,clear sky,30.8500,-116.0667,La Cueva del Pirata
3,246,San Quintín,MX,76.84,clear sky,30.4833,-115.9500,Don Eddie's Sport Fishing Center

In [49]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Weather</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [51]:
fig = gmaps.figure(center=(33, -110), zoom_level=6)

# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(marker_layer)
fig.add_layer(directions)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))